{
  "presets": [
    [
      "@babel/preset-env", {"targets": {"node": "current"}}
    ]
  ],
  "plugins": [
    [
      "@babel/transform-runtime", {"targets": {"node": "current"}}
    ]
  ],
  "env": {
    "test": {
      "plugins": ["@babel/plugin-transform-modules-commonjs"]
    }
  }
}
